.order-page {
  padding: 80px 0;
  min-height: 100vh;
  background: var(--background-light);
}

.order-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--text-color);
}

.order-layout {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 2rem;
}

.order-summary {
  background: #fcfdff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(44, 62, 80, 0.1);
  height: fit-content;
}



.empty-cart {
  text-align: center;
  color: var(--gray-light);
  padding: 2rem 0;
}

.order-items {
  margin-bottom: 1.5rem;
}

.order-item {
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid var(--border-color);
}

.order-item img {
  width: 130px;
  /* ממלא את המסגרת של ההורה */
  height: 130px;
  object-fit: contain;
  /* מתאים את התמונה למסגרת בלי לחתוך אותה */
  padding: 5px;
  /* מוסיף רווח פנימי כך שהתמונה תיראה קטנה יותר */
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(44, 62, 80, 0.1);
}


.item-info {
  margin-right: 1rem;
  flex: 1;
}

.item-info h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
  color: var(--text-color);
}

.item-price {
  color: var(--primary-color);
  font-weight: 600;
}

.order-total {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 1rem;
  border-top: 2px solid var(--border-color);
  color: var(--text-color);
}

@media (max-width: 900px) {
  .order-layout {
    margin-top: 20px;
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

@media (max-width: 600px) {
  .order-layout {
    padding: 8px;
  }

  .order-summary {
    font-size: 1rem;
  }
}